.moodImg {
    border-radius: 25%;
    object-fit: cover;
    height: 150px;
    width: 100px;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-basis: 15%;
}

.gallery {
    display: flex;
    align-items: stretch;
}

.moodCard :hover {
    background-color: blue;
}

.moodCard {
    background-color: chocolate;
}

.moodCard img {
    height: 100px;
    width: auto;
    object-fit: contain;
    margin: auto;
    flex-grow: 1;
    background-color: chocolate;
}

.dateLabel {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    margin: 10px;
    margin: auto;
}

h3 {
    color: gray;
}

body {
    background-color: darkolivegreen;
}

.href {
    color: black;
}